*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bar-height: 2px;
  --bar-color: black;
}

html,
body {
  height: 100%;
}
html {
}
body {
  overflow-x: hidden;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-style: normal;
  position: relative;
  background: url('/images/bg-intro.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  display: block;
}

.no-scroll {
  position: fixed;
  overflow-y: scroll; /* Forces the scrollbar to be visible */
  width: 100%; /* Ensures the body maintains its full width */
}

.content {
  will-change: transform, opacity;
}

#main-intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main-intro-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
#main-intro .main-intro-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -1;
}
#main-intro img[alt='bg-intro-overlay'] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#main-intro .main-intro-texts {
  text-align: center;
  height: 100%;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#main-intro .main-intro-texts > div:nth-child(1) > h1 {
  font-size: 3rem;
  margin: 0.5rem 0 1rem 0;
}
#main-intro .main-intro-texts > div:nth-child(1) > p:nth-child(1) {
  font-size: 1.75rem;
}
#main-intro .main-intro-texts > div:nth-child(2) > h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0 1rem 0;
}
#main-intro .main-intro-texts > div:nth-child(2) > h5 {
  font-size: 0.875rem;
  font-weight: normal;
  font-style: italic;
}
#main-intro-enter-btn {
  width: 100%;
  height: 3rem;
  margin-top: 5rem;
  outline: none;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

#main-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
#main-loading[hidden] {
  top: -100%;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

#main-bg {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
}
/* #main-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: var(--bar-height);
  width: 100%;
  background-color: var(--bar-color);
} */
#main-bg::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--bar-height);
  width: 100%;
  background-color: var(--bar-color);
}
#main-bg .content {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
  inset: 0;
  z-index: -1;
}
#main-bg .main-bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  z-index: -1;
}
#main-bg img[alt='bg-intro'] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#main-bg img[alt^='bg-plant'] {
  position: absolute;
  bottom: var(--bar-height);
  width: 17%;
  max-width: 320px;
  min-width: 150px;
  height: auto;
  transform-origin: bottom center;
  animation: plant-sway 6s ease-in-out infinite;
  will-change: transform;
}
#main-bg img[alt='bg-plant1'] {
  left: 0;
  animation-duration: 6.5s;
  animation-delay: -1s;
}
#main-bg img[alt='bg-plant2'] {
  left: 7.5%;
  animation-duration: 7.2s;
  animation-delay: -3s;
}
#main-bg img[alt='bg-plant3'] {
  right: 7.5%;
  animation-duration: 6.8s;
  animation-delay: -2s;
}
#main-bg img[alt='bg-plant4'] {
  right: 0;
  animation-duration: 7.5s;
  animation-delay: -4s;
}

@keyframes plant-sway {
  0% {
    transform: rotate(0deg) translateX(0);
  }
  25% {
    transform: rotate(3deg) translateX(2px);
  }
  50% {
    transform: rotate(0deg) translateX(0);
  }
  75% {
    transform: rotate(-3deg) translateX(-2px);
  }
  100% {
    transform: rotate(0deg) translateX(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  #main-bg img[alt^='bg-plant'] {
    animation: none;
  }
}

#bird-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  pointer-events: none;
  user-select: none;
  z-index: -1;
}

.full-screen {
  display: block;
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.action-btn {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 1rem;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}
.action-btn:hover,
.action-btn.active {
  background-color: #adbed8;
  color: white;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#intro .content {
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  text-align: center;
  margin-top: -120px;
}
#intro h1 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
}
#intro p[data-date] {
  font-weight: bold;
}
#intro .quote {
  font-style: italic;
}
#intro .couple-img {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 600px;
}
#intro .couple-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#panels {
  width: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}
#panels #panels-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  will-change: transform;
  /* background-color: white; */
}
#panels #panels-container .panel {
  flex-shrink: 0;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100svh;
  color: #333;
  text-align: left;
  will-change: transform;
  /* border-right: 1px solid #f00; */
}

#surah-quote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#surah-quote .content {
  padding: 2rem;
  width: 100%;
  max-width: 765px;
}
#surah-quote h2 {
  text-align: left;
  padding-top: 1rem;
  font-weight: normal;
}

#groom-bride {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 1024px !important;
}
#groom-bride__bride,
#groom-bride__groom {
  will-change: transform, opacity;
}
#groom-bride .picture {
  width: 200px;
  height: 200px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin: 1rem 0;
}
#groom-bride .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#groom-bride h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
}
#groom-bride h2 {
  text-transform: uppercase;
  font-size: 2rem;
  max-width: 15rem;
  margin-bottom: 1rem;
}
#groom-bride h3 {
  margin-bottom: 1rem;
  font-weight: normal;
  font-style: italic;
}

#time-loc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#time-loc .content {
  width: 100%;
  max-width: 756px;
  padding: 2rem;
}
#time-loc .title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
#time-loc .time {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
#time-loc .location-name {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.4rem;
}
#time-loc .map-btn {
  float: right;
  margin-top: 1rem;
}

#countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#countdown h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
}
#countdown .countdown-time p {
  font-size: 2rem;
}
#countdown .countdown-time p span {
  font-size: 5rem;
  font-weight: bold;
}
#countdown #save-date-btn {
  float: right;
}

#reservation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: -var(--bar-height);
  background-color: white;
}
#reservation .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: calc(var(--bar-height) + 3rem);
}
#reservation h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
#reservation h2 {
  font-size: 2rem;
}

#ending {
  display: flex;
  align-items: center;
  justify-content: center;
}
#ending .content {
  text-align: center;
  max-width: 756px;
}
#ending h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
#ending h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}
#ending h3 {
  font-weight: normal;
}

/* CAT */
canvas.cat-canvas {
  position: absolute;
  bottom: calc(var(--bar-height) - 32px);
  right: 0;
  width: calc(550px / 2);
  height: calc(380px / 2);
}

/* FORM */
#attendance-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  letter-spacing: 1px;
}
#attendance-form input[type='text'],
#attendance-form input[type='number'],
#attendance-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  font-size: 14px;
  background-color: #fff;
}
#attendance-form .attendance {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
#attendance-form .attendance button {
  flex: 1;
  padding: 10px 0;
}
#attendance-form button.submit-btn {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 14px;
}

@media screen and (max-width: 1439px) {
  #main-intro .main-intro-texts {
    padding: 7rem 2rem;
  }

  #surah-quote h1 {
    font-size: 1.75rem;
  }
  #surah-quote h2 {
    font-size: 1.25rem;
  }

  canvas.cat-canvas {
    bottom: calc(var(--bar-height) - 29px);
    width: calc(550px / 2.25);
    height: calc(380px / 2.25);
  }
}

@media screen and (max-width: 1279px) {
  #main-intro .main-intro-texts {
    padding: 6rem 2rem;
  }
  #intro h1 {
    font-size: 3.5rem;
    padding: 1.25rem;
  }
  #intro .quote {
    font-size: 0.875rem;
  }
  #intro .couple-img {
    max-width: 500px;
  }

  #surah-quote .content {
    padding: 7.5%;
  }
  #surah-quote h1 {
    font-size: 1.5rem;
  }
  #surah-quote h2 {
    font-size: 1.125rem;
  }

  canvas.cat-canvas {
    bottom: calc(var(--bar-height) - 26px);
    width: calc(550px / 2.5);
    height: calc(380px / 2.5);
  }
}

@media screen and (max-width: 1023px) {
  #main-bg img[alt='bg-plant1'] {
    left: -2.5%;
  }
  #main-bg img[alt='bg-plant2'] {
    left: 2.5%;
  }
  #main-bg img[alt='bg-plant3'] {
    right: 2.5%;
  }
  #main-bg img[alt='bg-plant4'] {
    right: -2.5%;
  }

  #main-intro .main-intro-texts {
    padding: 5rem 2rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > h1 {
    font-size: 2.5rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > p:nth-child(1) {
    font-size: 1.5rem;
  }

  #intro h1 {
    font-size: 3rem;
  }
  #intro .quote {
    font-size: 0.8rem;
  }

  #surah-quote .content {
    padding: 12.5%;
  }
  #surah-quote h1 {
    font-size: 1.25rem;
  }
  #surah-quote h2 {
    font-size: 1rem;
  }

  canvas.cat-canvas {
    bottom: calc(var(--bar-height) - 22px);
    width: calc(550px / 3);
    height: calc(380px / 3);
  }
}

@media screen and (max-width: 767px) {
  #main-bg img[alt^='bg-plant'] {
    min-width: 140px;
  }
  #main-bg img[alt='bg-plant1'] {
    left: -7.5%;
  }
  #main-bg img[alt='bg-plant2'] {
    left: 0;
  }
  #main-bg img[alt='bg-plant3'] {
    right: 0;
  }
  #main-bg img[alt='bg-plant4'] {
    right: -7.5%;
  }

  #main-intro .main-intro-texts {
    padding: 4rem 2rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > h1 {
    font-size: 2rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > p:nth-child(1) {
    font-size: 1.25rem;
  }
  #main-intro .main-intro-texts > div:nth-child(2) > h2 {
    font-size: 1.25rem;
  }
  #main-intro .main-intro-texts > div:nth-child(2) > h5 {
    font-size: 0.75rem;
  }
  #main-intro-enter-btn {
    margin-top: 3rem;
  }

  #intro h1 {
    font-size: 2.75rem;
  }

  #reservation .content {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  #main-bg img[alt^='bg-plant'] {
    min-width: 120px;
  }
  #main-bg img[alt='bg-plant1'] {
    left: -12.5%;
  }
  #main-bg img[alt='bg-plant2'] {
    left: -5%;
  }
  #main-bg img[alt='bg-plant3'] {
    right: -5%;
  }
  #main-bg img[alt='bg-plant4'] {
    right: -12.5%;
  }

  #intro h1 {
    font-size: 2.25rem;
  }
  #intro .quote {
    font-size: 0.75rem;
    max-width: 24rem;
    padding: 0 1rem;
    margin: 0 auto;
  }

  #surah-quote .content {
    padding: 17.5%;
  }
}

@media screen and (max-width: 374px) {
  #main-intro .main-intro-texts > div:nth-child(1) > h1 {
    font-size: 1.75rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > p:nth-child(1) {
    font-size: 1.125rem;
  }
  #main-intro .main-intro-texts > div:nth-child(2) > h5 {
    font-size: 0.675rem;
  }

  #intro h1 {
    font-size: 1.75rem;
  }
  #intro .quote {
    font-size: 0.7rem;
    padding: 0 1.4rem;
  }
  #intro p[data-date] {
    font-size: 0.875rem;
  }
}

@media screen and (max-height: 1439px) {
}

@media screen and (max-height: 1279px) {
}

@media screen and (max-height: 1023px) {
}

@media screen and (max-height: 767px) {
  #main-intro .main-intro-texts {
    padding: 4rem 2rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > h1 {
    font-size: 2rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > p:nth-child(1) {
    font-size: 1.25rem;
  }
  #main-intro .main-intro-texts > div:nth-child(2) > h2 {
    font-size: 1.25rem;
  }
  #main-intro .main-intro-texts > div:nth-child(2) > h5 {
    font-size: 0.75rem;
  }
  #main-intro-enter-btn {
    margin-top: 3rem;
  }
}

@media screen and (max-height: 576px) {
  #main-intro .main-intro-texts {
    padding: 2.75rem;
  }
  #main-intro-enter-btn {
    margin-top: 1.25rem;
  }

  #intro .content {
    margin-top: -100px;
  }
  #intro h1 {
    font-size: 2.25rem;
    padding: 1rem;
  }
  #intro .quote {
    font-size: 0.75rem;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
  }
  #intro .couple-img {
    max-width: 80vh;
  }
}

@media screen and (max-height: 374px) {
  #main-intro .main-intro-texts {
    padding: 1.5rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > h1 {
    font-size: 1.75rem;
  }
  #main-intro .main-intro-texts > div:nth-child(1) > p:nth-child(1) {
    font-size: 1.125rem;
  }
  #main-intro .main-intro-texts > div:nth-child(2) > h5 {
    font-size: 0.675rem;
  }

  #intro .content {
    margin-top: -100px;
  }
}
